<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../Styles/Bootstrap/bootstrap.css.map">
    <link rel="stylesheet" href="../Styles/Bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="../Styles/Bootstrap/bootstrap-theme.css.map">
    <link rel="stylesheet" href="../Styles/Site.css">
    <link rel="stylesheet" href="../Styles/toastr/toastr.css">
    <meta charset="UTF-8">
    <title>
        WebCondominio - Pedidos de produtos
    </title>
</head>
<!--TODO REMOVER STYLE DA TAG BODY-->

<body>

    <!-- Solicitar Oferta Modal -->
    <div id="solicitarOfertaModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="formSolicitarOferta">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Solicitar Oferta</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row col-md-offset-1">
                            <div class="form-group col-md-6">
                                <label>Produto: </label>
                                <span id="NomeProduto" class="disabled"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Quantidade Pedida: </label>
                                <span id="QuantidadePedida" class="disabled"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="Descricao">Breve descrição do seu produto: </label>
                                <textarea id="Descricao" name="Descricao" class="form-control" rows="5" minlength="3" required></textarea>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="QuantidadeFornecer">Quantidade a fornecer: </label>
                                <input id="QuantidadeFornecer" name="QuantidadeFornecer" class="form-control" type="number" required />
                            </div>

                            <div class="clearfix col-md-6"></div>

                            <div class="form-group col-md-3">
                                <label for="PrecoUnitario">Preço unitário: </label>
                                <input id="PrecoUnitario" name="PrecoUnitario" class="form-control" type="number" required />
                            </div>


                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                        <button id="btnSolicitarOferta" type="button" class="btn btn-success btn-formvalid" disabled data-pedidoid="">Solicitar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Minhas Solicitacoes Oferta Modal -->
    <div id="minhasSolicitacoesModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="formSolicitarOferta">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Minhas Solicitações de Oferta</h4>
                    </div>
                    <div class="modal-body" id="holderTabelaMinhasSolicitacoes">

                    </div>
					<!--template para preencher tabela-->
                      <script id="templateTabelaMinhasSolicitacoes" type="text/x-handlebars-template">
							<div class="form-group col-md-6">
                                <label>Produto: </label>
                                <span id="NomeProduto" class="disabled">{{pedidoProduto.nomeProduto}}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Quantidade Pedida: </label>
                                <span id="QuantidadePedida" class="disabled">{{pedidoProduto.quantidade}}</span>
                            </div>

                            <div class="form-group col-md-6">
                                
								<label class="col-md-4">
									<span class="circle circle-warning"> </span>
									Pendente
								</label>
								<label class="col-md-4">
									<span class="circle circle-danger"> </span>
									Reprovado
								</label>
									<label class="col-md-4">
									<span class="circle circle-success"> </span>
									Aprovado
								</label>
                            </div>
							
                            <table class="table table-striped table-hover table-bordered" id='table-pedidos'>
                                <thead>
                                    <tr>
										<th class="col-md-1">Status</th>
                                        <th class="col-md-4">Descrição</th>
                                        <th class="col-md-3">Quantidade a Fornecer</th>
										<th class="col-md-2">Preço Unitário</th>
                                        <th class="col-md-2 text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody id='table-pedidos-body'>
                                    {{#each pedidoProduto.solicitacoesOferta}}
                                    <tr>
										<td>
											{{#ifCond this.status '==' "0"}}
												<span class="circle circle-warning col-md-offset-4"></span>
											{{/ifCond}}
											{{#ifCond this.status '==' "1"}}
												<span class="circle circle-success col-md-offset-4"></span>
											{{/ifCond}}
											{{#ifCond this.status '==' "2"}}
												<span class="circle circle-danger col-md-offset-4"></span>
											{{/ifCond}}
										</td>
                                        <td>{{descricao}}</td>
                                        <td>{{quantidadeFornecer}}</td>
                                        <td>{{precoUnitario}}</td>
                                        <td>

                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                       </script>
                      <!--fim do template-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <form>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="panel-title">Pedidos de Produtos</p>
                </div>
                <div class="panel-body">
                    <div class="row" style="width: 100%">
                        <div class="centralizar">
                            <!-- <div class="form-group col-md-5">
                                <label for="Produto">Produto</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="NumeroPedido">Nº Pedido</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" required style="margin-top: 25px;">Buscar</button>
                            </div> -->
                        </div>
                    </div>

                    <div style="padding-bottom: 20px">
                        
                        <div class="cart cart-info" style="margin-rigth: 10px">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Solicitar Oferta
                        </div>


                        <div class="cart cart-info">
                            <span class="glyphicon glyphicon-th-list"></span> Minhas Ofertas
                        </div> 

                    </div>

                    <div class="row col-md-12" id='holderTabelaPedidos'>

                    </div>
                        <!--template para preencher tabela-->
                       <script id="templateTabelaPedidos" type="text/x-handlebars-template">
                            <table class="table table-striped table-hover table-bordered" id='table-pedidos'>
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Nº Pedido</th>
                                        <th class="col-md-7">Nome do Produto</th>
                                        <th class="col-md-2">Quantidade</th>
                                        <th class="text-center" style="width: 100%;">Ações</th>
                                    </tr>
                                </thead>
                                <tbody id='table-pedidos-body'>
                                    {{#pedidos}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{nomeProduto}}</td>
                                        <td>{{quantidade}}</td>
                                        <td>
                                            <div style="margin-left: 15%">
                                                <button id="abrirSolicitarOfertaModal" title="Solicitar Oferta"
                                                    class="btn btn-info" type="button" data-toggle="modal" data-target="#solicitarOfertaModal"
                                                    data-pedidoid={{id}} data-backdrop="static" data-keyboard="false"> 

                                                    <span class="glyphicon glyphicon-shopping-cart"></span> 

                                                </button>

                                                <button id="abrirMinhasSolicitacoesModal" title="Minhas Solicitações"
                                                    class="btn btn-info" type="button" data-toggle="modal" data-target="#minhasSolicitacoesModal"
                                                    data-pedidoid={{id}} data-backdrop="static" data-keyboard="false">

                                                    <span class="glyphicon glyphicon-th-list"> </span> ({{solicitacoesOferta.length}})
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                    {{/pedidos}}
                                </tbody>
                            </table>
                       </script>
                       <!--fim do template-->
                </div>
            </div>
        </form>
    </div>
    <script src="../Scripts/library/jquery/jquery-2.2.3.js"></script>
    <script src="../Scripts/library/bootstrap/bootstrap.js"></script>
    <script src="../Scripts/app/pedidosProdutos/statusSolicitacaoOferta.js"></script>
    <script src="../Scripts/app/dataAccess/pedidoProdutoRepository.js"></script>
    <script src="../Scripts/app/dataAccess/login.js"></script>
    <script src="../Scripts/library/handlebars-v4.0.5.js"></script>
    <script src="../Scripts/tools/handleBarsRegistrations.js"></script>
	<script src="../Scripts/library/toastr/toastr.min.js"></script>
    <script src="../Scripts/tools/toastrOptions.js"></script>
    <script src="../Scripts/app/pedidosProdutos/pedidosProdutos.js"></script>
    <script src="../Scripts/tools/formValidation.js"></script>

</body>

</html>