body {
    padding-top: 25px;
    background-color:  rgba(129, 177, 177, 0.24);
}

.text-center {
    text-align: center;
}

.panel-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.centralizar {
    margin: 0 auto;
    width: 50%;
}

.centralizar-direita{
    float: right;
}

.centralizar-esquerda{
    float: left;
}

input:required:invalid {}

input:required:valid, 
select:required:valid,
textarea:required:valid
 {
    border-color: #0cef48;
}

.circle{
	display: inline-block;
	border-radius: 100px;
	width: 15px;
	height: 15px
}

.circle-primary{
	background-color: #265a88;
}

.circle-default{
	background-color: #e0e0e0;
}

.circle-success{
	background-color: #419641;
}

.circle-info{
	background-color: #28a4c9;
}

.circle-warning{
	background-color: #eb9316;
}


.circle-danger{
	background-color: #c12e2a;
}

button > a,
button > a:hover{
    color: white;
    text-decoration: none;
}

.cart{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.cart-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;

    /*background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
    background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
    background-repeat: repeat-x;
    border-color: #28a4c9;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);*/

}
.cart-info:hover{
    color: #fff;
    cursor: default;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}