body {
    padding-top: 25px;
    background-color:  rgba(129, 177, 177, 0.24);
}

.text-center {
    text-align: center;
}

.panel-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.centralizar {
    margin: 0 auto;
    width: 50%;
}

.centralizar-direita{
    float: right;
}

.centralizar-esquerda{
    float: left;
}

input:required:invalid {}

input:required:valid, 
select:required:valid,
textarea:required:valid
 {
    border-color: #0cef48;
}

.circle{
	display: inline-block;
	border-radius: 100px;
	width: 15px;
	height: 15px
}

.circle-primary{
	background-color: #265a88;
}

.circle-default{
	background-color: #e0e0e0;
}

.circle-success{
	background-color: #419641;
}

.circle-info{
	background-color: #28a4c9;
}

.circle-warning{
	background-color: #eb9316;
}


.circle-danger{
	background-color: #c12e2a;
}

button > a,
button > a:hover{
    color: white;
    text-decoration: none;
}